@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

body {
    font-family: "Cinzel", serif;
    background-color: #f1f1f1;
    color: #424242;
    text-align: center;
}

p {
    font-size: 18px;
}

a {
    color: #cf1e1e;
    text-decoration: none;
    font-weight: 800;
}

a:hover {
    color: #a10000;
    text-decoration: underline;
}

ul {
    list-style-type: none;
}
