@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

body {
    font-family: "Cinzel", serif;
    background-color: #f1f1f1;
    color: #424242;
    text-align: center;
}

p {
    font-size: 18px;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #cf1e1e;
    text-decoration: none;
    font-weight: 800;
}

a:hover {
    color: #a10000;
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

.image {
    height: 100%;
    width: 100%;
    max-height: 400px;
    max-width: 1080px;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
}

.image-village {
    object-position: bottom;
}

.image-market {
    object-position: bottom;
}

.image-church {
    object-position: top;
}

.image-castle {
    object-position: top;
}
